
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poor+Story&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Inter', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Poppins', sans-serif;
}
.main-container{
  width: 550px;
height: 550px;

background: #FFFFFF;
margin: auto;
}